$primarycolor: #05386b;
$secondarycolor: #edf5e1;
$black: #0e1111;
$white: #fafafa;

input {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.warning {
  color: #ed4337;
  margin: 5px;
  align-self: center;
}
